.app-catalog-item {
  padding: 20px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  background: var(--white);
  border: 1px solid var(--plaster);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  height: 100%;
  min-width: 293px;

  &:hover {
    -webkit-filter: drop-shadow(0px 4px 20px var(--black-semi-015));
    filter: drop-shadow(0px 4px 20px var(--black-semi-015));
    transition: 0.1s;
  }

  &__link {
    order: 3;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    order: 2;
    z-index: 10;
  }

  &__image-wrapper {
    margin-top: 0;
    order: 1;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    height: 220px;
    width: auto;
    aspect-ratio: 1;
  }

  &__price {
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    order: 3;
    background-color: var(--red-radish);
    text-transform: uppercase;
    color: var(--white);
    border-radius: 4px;
    position: relative;
    display: block;
  }

  &__add-cart {
    order: 5;
    margin-top: 20px;
  }
}