

//:root {
//  --black: #000000;
//  --black-semi-025: rgba(0, 0, 0, 0.25);
//  --black-semi-024: rgba(0, 0, 0, 0.24);
//  --black-semi-015: rgba(0, 0, 0, 0.15);
//  --ultimate-grey: #a9a9a9;
//  --ultimate-grey-030: rgba(169, 169, 169, 0.3);
//  --lunar-rock: #c5c5c5;
//  --lunar-rock-030: rgba(197, 197, 197, 0.3);
//  --beluga: #f1f1f1;
//  --white: #ffffff;
//  --white-030: rgba(255, 255, 255, 0.3);
//  --child-of-light: #f1f5f7;
//  --distant-horizon: #f3f7f9;
//  --plaster: #eaeaea;
//  --cold-morning: #e5e5e5;
//  --silver-bird: #f9f5f0;
//  --smart-white: #f7f3ec;
//  --brainstem-grey: #b5b5b5;
//  --dhusar-grey: #ababab;
//  --dhusar-grey-03: rgb(171, 171, 171, 0.3);
//  --bread-n-butter: #ffd180;
//  --narenji-orange: #ffbf47;
//  --red-radish: #ee3643;
//  --madder-lake: #ca2c37;
//  --mars-red: #ba2732;
//  --coarse-wool: #161d29;
//  --bunting: #293449;
//  --midnight-express: #1d2739;
//  --midnight-express-2: #212a3a;
//  --passionate-blueberry: #32425c;
//  --blackberry-cobbler: #405069;
//  --atlantic-tide: #3d546f;
//  --lake-thun: #3bbce3;
//  --nenophilist: #367315;
//  --hot-pepper-green: #518534;
//  --siren-of-nature: #63a63e;
//  --field-green: #5fbb2d;
//  --leek: #8ed78f;
//  --lavender-pink: #dc91d8;
//}


//.page {
//  height: 100%;
//}

//.page-body {
//  min-width: 960px;
//  margin: 0;
//  padding: 0;
//  font-family: "Cuprum", Arial, sans-serif;
//  font-style: normal;
//  font-size: 18px;
//  line-height: 24px;
//  font-weight: 400;
//  color: var(--black);
//  background-color: var(--white);
//
//  min-height: 100%;
//  display: grid;
//  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
//  grid-template-rows: min-content 1fr min-content;
//  align-items: start;
//}
//
//.container {
//  margin: 0 auto;
//  padding: 0 10px;
//  width: 940px;
//}
//
//.visually-hidden {
//  position: absolute;
//  clip: rect(0 0 0 0);
//  width: 1px;
//  height: 1px;
//  margin: -1px;
//}

/* ХЕДЕР */

.header {
  //background: var(--child-of-light);
}

/* ХЕДЕР - верхняя часть */

.header__top {
  //background: var(--bunting);
}

//.header-top {
//  display: flex;
//  //grid-template-columns: -webkit-min-content 1fr 450px;
//  grid-template-columns: min-content 1fr;
//  justify-content: space-between;
//  align-items: center;
//}

//.logo {
//  text-align: center;
//  display: inline-block;
//  width: 220px;
//  line-height: 0;
//  padding-top: 12px;
//  margin-bottom: -5px;
//  padding-bottom: 17px;
//  background: var(--red-radish);
//  box-shadow: inset 0px -5px 0px var(--black-semi-024);
//}

//.search-form__field {
//  padding: 0;
//  padding-left: 42px;
//  margin: 0;
//  width: 100%;
//  font-size: 18px;
//  line-height: 24px;
//  color: var(--white);
//  background-color: var(--bunting);
//  border: 0px solid;
//}

//.search-form__field::-webkit-input-placeholder {
//  color: var(--white);
//}
//
//.search-form__field::-moz-placeholder {
//  color: var(--white);
//}
//
//.search-form__field::placeholder {
//  color: var(--white);
//}
//
//.search-form__field:focus::-webkit-input-placeholder {
//  color: var(--black);
//}
//
//.search-form__field:focus::-moz-placeholder {
//  color: var(--black);
//}
//
//.search-form__field:focus::placeholder {
//  color: var(--black);
//}
//
//.search-form__field:focus {
//  color: var(--black);
//  background-color: var(--white);
//  outline: none;
//  padding-top: 9px;
//  padding-left: 42px;
//  padding-bottom: 9px;
//  border: 0px solid red;
//}
//
//.search-form__label {
//  position: relative;
//}
//
//.search-form__icon {
//  position: absolute;
//  top: 2px;
//  left: 17px;
//  width: 17px;
//  height: 17px;
//  opacity: 0.3;
//}
//
//.search-form__label:hover .search-form__icon {
//  opacity: 1;
//}
//
//.search-form__label:focus .search-form__icon path,
//.search-form__label:focus-within .search-form__icon path,
//.search-form__label:active .search-form__icon path {
//  fill: var(--mars-red);
//  opacity: 1;
//}

/* ХЕДЕР - верхняя часть - опции товара */

//.product-options {
//  display: flex;
//  //grid-template-columns: 1fr 1fr;
//  align-items: center;
//}

//.product-options__item {
//  padding: 15px;
//  text-decoration: none;
//  color: var(--white);
//  text-align: center;
//}

//.bookmarks {
//  padding-left: 43px;
//  text-align: left;
//}

//.cart {
//  padding-left: 49px;
//  text-align: left;
//}

//.product-options__item--not-empty {
//  background: var(--red-radish);
//}

//.cart::before {
//  content: "";
//  background: url("../assets/img/icons/icon-cart.svg") no-repeat;
//  position: absolute;
//  width: 15px;
//  height: 15px;
//  top: 13px;
//  left: 26px;
//  z-index: 1;
//  opacity: 0.3;
//}
//
//.cart {
//  position: relative;
//}
//
//.cart:hover::before {
//  opacity: 1;
//}

//.bookmarks::before {
//  content: "";
//  background: url("../assets/img/icons/icon-bookmark.svg") no-repeat;
//  position: absolute;
//  width: 15px;
//  height: 15px;
//  top: 13px;
//  left: 20px;
//  z-index: 1;
//  opacity: 0.3;
//}
//
//.bookmarks {
//  position: relative;
//}
//
//.bookmarks:hover::before {
//  opacity: 1;
//}

//.product-options__item--order {
//  text-decoration: none;
//  color: var(--white);
//  background: var(--siren-of-nature);
//}

//.logo:hover,
//.product-options__item:hover {
//  opacity: 100%;
//}

//.product-options__item--order:hover {
//  background-color: var(--field-green);
//}
//
//.product-options__item:focus {
//  background-color: var(--coarse-wool);
//}

//.logo:focus {
//  background-color: var(--mars-red);
//}

//.product-options__item:focus {
//  opacity: 50%;
//}

//.product-options__item--order:focus {
//  background: var(--siren-of-nature);
//  opacity: 50%;
//}

//.not-empty:focus {
//  background: var(--mars-red);
//}

///* ХЕДЕР - Основной */
//
//.header__bottom {
//  padding-top: 42px;
//  padding-bottom: 40px;
//  background: var(--child-of-light);
//  display: grid;
//  grid-template-columns: repeat(3, 1fr);
//  justify-content: space-between;
//  grid-gap: 20px;
//  align-items: start;
//}
//
//.header__title {
//  margin: 0;
//  padding: 0;
//  padding-top: 4px;
//  padding-left: 30px;
//  padding-right: 65px;
//  color: var(--red-radish);
//  font-size: 16px;
//  line-height: 23px;
//  font-style: italic;
//}
//
//.header-contacts {
//  margin: 0px;
//  margin-top: 4px;
//  padding: 0;
//  width: 270px;
//  text-align: center;
//}
//
//.header-contacts__phone {
//  text-decoration: none;
//  display: block;
//  margin: 0;
//  padding: 4px 47px 5px 71px;
//  font-size: 21px;
//  font-weight: 700;
//  font-style: normal;
//  line-height: 30px;
//  text-align: left;
//  color: var(--red-radish);
//  border: 3px solid var(--black);
//  box-sizing: border-box;
//  position: relative;
//}
//
//.header-contacts__phone::before {
//  content: "";
//  background: url("../assets/img/icons/icon-phone.svg") no-repeat;
//  position: absolute;
//  width: 19px;
//  height: 19px;
//  top: 10px;
//  left: 37px;
//  z-index: 1;
//}
//
//.header-contacts__address {
//  margin: 0;
//  padding-top: 3px;
//  font-size: 14px;
//  font-style: normal;
//  color: var(--passionate-blueberry);
//}
//
///* ХЕДЕР - ЛК */
//
//.auth__field {
//  margin-top: 4px;
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//  position: relative;
//}
//
//.auth__field--disabled {
//  display: none;
//}
//
//.auth-button {
//  margin-bottom: 4px;
//  text-decoration: none;
//  background-color: var(--white);
//  color: var(--black);
//  padding-top: 12px;
//  padding-bottom: 12px;
//  font-size: 21px;
//  line-height: 21px;
//  display: block;
//}
//
//.auth__button--login {
//  margin-left: auto;
//  text-align: left;
//  padding-left: 45px;
//  padding-right: 27px;
//  max-width: 121px;
//  margin-right: 10px;
//  position: relative;
//}
//
//.auth-button__icon--login {
//  position: absolute;
//  top: 14px;
//  left: 19px;
//  width: 20px;
//  height: 17px;
//}
//
//.auth__button--login:hover .auth-button__icon path {
//  fill: var(--atlantic-tide);
//}
//
//.auth__button--login:focus .auth-button__icon path {
//  fill: var(--lunar-rock);
//}
//
//.auth__button--login:hover,
//.auth__button--signup:hover {
//  color: var(--red-radish);
//}
//
//.auth__button--login:focus,
//.auth__button--signup:focus {
//  color: var(--lunar-rock);
//}
//
//.auth__button--signup {
//  margin-right: 0;
//  text-align: center;
//  width: 150px;
//}
//
//.auth__button--profile {
//  width: 100%;
//  text-align: center;
//  position: relative;
//  padding-left: 40px;
//  padding-right: 50px;
//}
//
//.auth__button--logout {
//  width: 50px;
//  height: 21px;
//  position: absolute;
//  top: 0;
//  right: 0;
//}
//
//.auth__button--profile:focus,
//.auth__button--logout:focus {
//  color: var(--lunar-rock);
//}
//
//.auth-button__icon--user {
//  position: absolute;
//  width: 20px;
//  height: 18px;
//  top: 13px;
//  left: 16px;
//}
//
//.auth-button__icon--logout {
//  position: absolute;
//  padding: 14px 17px;
//  width: 20px;
//  height: 17px;
//  top: 0px;
//  right: 0px;
//  z-index: 1;
//}
//
//.auth__button--profile:hover .auth-button__icon--user path,
//.auth__button--logout:hover .auth-button__icon--logout path {
//  fill: var(--atlantic-tide);
//}
//
//.auth__button--profile:focus .auth-button__icon--user path,
//.auth__button--logout:focus .auth-button__icon--logout path {
//  fill: var(--lunar-rock);
//}
//
//.auth-menu {
//  padding: 0;
//  margin: 0;
//  margin-top: 3px;
//  font-size: 16px;
//  line-height: 18px;
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  align-items: start;
//  grid-gap: 0px;
//}
//
//.auth-menu__item:nth-child(1) {
//  list-style: none;
//}
//
//.auth-menu__link {
//  text-decoration: none;
//  color: var(--passionate-blueberry);
//}
//
//.auth-menu__link:hover {
//  color: var(--red-radish);
//}
//
//.auth-menu__link:focus {
//  color: var(--lunar-rock);
//}

/* ХЕДЕР - Основное меню навигации  */

//.navigation__list {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//  background-color: var(--passionate-blueberry);
//  box-shadow: inset 0px -5px 0px var(--bunting);
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//}

//.navigation__item:hover {
//  background-color: var(--bunting);
//}
//
//.navigation__item:focus {
//  background-color: var(--midnight-express);
//}

//.navigation__link {
//  display: block;
//  padding: 16px 28px 20px 28px;
//  text-decoration: none;
//  color: var(--white);
//}

//.navigation__link:focus {
//  color: var(--white);
//  opacity: 0.5;
//}

/* Страница каталога */

//.page-catalog {
//  display: grid;
//  //grid-template-columns: 220px 1fr;
//  //grid-template-areas:
//  //  "breadcrumbs breadcrumbs"
//  //  "catalog-title catalog-title"
//  //  "catalog-filters sorting"
//  //  "catalog-filters catalog-list";
//
//  //align-content: start;
//  //justify-content: start;
//  //grid-gap: 20px;
//}


//.catalog-title {
//  //-ms-grid-row: 3;
//  //-ms-grid-column: 1;
//  //-ms-grid-column-span: 3;
//  //grid-area: catalog-title;
//}

//.catalog-filters {
//  -ms-grid-row: 5;
//  -ms-grid-row-span: 3;
//  -ms-grid-column: 1;
//  grid-area: catalog-filters;
//}

//.sorting {
//  -ms-grid-row: 5;
//  -ms-grid-column: 3;
//  grid-area: sorting;
//}

.catalog__list {
  //-ms-grid-row: 7;
  //-ms-grid-column: 3;
  //grid-area: catalog-list;
}

///* Секция - breadcrumbs */
//
//.breadcrumbs {
//  list-style: none;
//  padding: 0;
//  margin: 0;
//  margin-top: 21px;
//  display: flex;
//  flex-wrap: wrap;
//}
//
//.breadcrumbs__item {
//  margin-right: 41px;
//  font-size: 13px;
//  line-height: 18px;
//  font-family: "PT Sans", Arial, sans-serif;
//  text-transform: uppercase;
//  color: var(--black);
//  position: relative;
//}
//
//.breadcrumbs__link {
//  text-decoration: none;
//  color: var(--black);
//  position: relative;
//}
//
//.breadcrumbs__item:first-child {
//  margin-right: 55px;
//}
//
//.breadcrumbs__link--home {
//  position: relative;
//}

.home-icon {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 3px;
  left: 0px;
  z-index: 1;
}

.home-icon:hover path {
  fill: var(--mars-red);
}

.breadcrumbs__item::after {
  content: "";
  background: url("../assets/img/icons/icon-right-small.svg") no-repeat;
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  right: -26px;
  z-index: 1;
}

.breadcrumbs__item:first-child::after {
  right: -37px;
}

.breadcrumbs__item--current::after {
  display: none;
}

.breadcrumbs__item--current {
  pointer-events: none;
}

//.breadcrumbs__link:hover,
//.breadcrumbs__link:focus {
//  color: var(--red-radish);
//}

/* Секция КАТАЛОГ */

/* Секция КАТАЛОГ - ФИЛЬТРЫ*/

//.catalog-title {
//  color: var(--passionate-blueberry);
//  font-size: 30px;
//  line-height: 30px;
//  font-weight: 400;
//  text-transform: uppercase;
//  background-color: var(--child-of-light);
//  text-align: left;
//  padding: 29px 0 30px 29px;
//  margin: 0;
//}

//.catalog-filters {
//  width: 220px;
//  font-family: "PT Sans", Arial, sans-serif;
//  font-size: 13px;
//  line-height: 18px;
//  font-weight: 400;
//  text-transform: uppercase;
//}

.section-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--smart-white);
  border-radius: 2px;
  padding: 10px 0 10px 19px;
  margin: 0;
  text-align: left;
}

//.catalog-filters__item {
//  border: 0px;
//  padding: 0;
//  margin: 0;
//}

.filter {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--lunar-rock);
}

.filter:last-of-type {
  border-bottom: 0px solid var(--lunar-rock);
}

.filter__title {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  text-align: left;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter__range-controls {
  margin-top: 10px;
  margin-bottom: 9px;
  padding: 39px 20px;
  width: 180px;
  height: 2px;
  background-color: var(--smart-white);
  border-radius: 2px;
  position: relative;
}

.control {
  font-size: 15px;
  line-height: 19px;
}

.range-controls__scale {
  height: 2px;
  background-color: var(--lunar-rock);
}

.range-controls__bar {
  height: 2px;
  width: 84%;
  background: var(--siren-of-nature);
}

.control--range {
  margin-top: 10px;
  width: 220px;
  height: 80px;
}

.filter__toggle {
  padding: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--white);
  border-radius: 50%;
  background-color: var(--dhusar-grey);
  box-shadow: 0 2px 1px 0 var(--dhusar-grey-03);
  position: absolute;
  top: 29px;
  left: 0px;
  cursor: pointer;
}

.filter__toggle--min {
  left: 18px;
}

.filter__toggle--max {
  left: 160px;
}

.price-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control--input {
  background-color: var(--smart-white);
  border-radius: 2px;
  max-width: 95px;
  border: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
}

.price-field__divider {
  padding-left: 2px;
  padding-right: 2px;
}

.filer__control {
  padding: 0;
  list-style: none;
  text-align: left;
}

.control--checkbox,
.control--radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control--checkbox:checked,
.control--checkbox:not(:checked),
.control--radio:checked,
.control--radio:not(:checked) {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control--checkbox:checked + label,
.control--checkbox:not(:checked) + label,
.control--radio:checked + label,
.control--radio:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  line-height: 20px;
  cursor: pointer;
}

.control--checkbox:not(:checked) + label:before {
  content: "";
  background: url('../assets/img/icons/checkbox-off.svg') no-repeat;
  position: absolute;
  left: 0px;
  top: -3px;
  width: 23px;
  height: 23px;
  -webkit-filter: invert(98%) sepia(0%) saturate(250%) hue-rotate(154deg) brightness(83%) contrast(87%);
  filter: invert(98%) sepia(0%) saturate(250%) hue-rotate(154deg) brightness(83%) contrast(87%);
}

.control--checkbox:checked + label:before {
  content: "";
  background: url('../assets/img/icons/checkbox-on.svg') no-repeat;
  position: absolute;
  left: 0px;
  top: -3px;
  width: 27px;
  height: 23px;
  -webkit-filter: invert(98%) sepia(0%) saturate(250%) hue-rotate(154deg) brightness(83%) contrast(87%);
  filter: invert(98%) sepia(0%) saturate(250%) hue-rotate(154deg) brightness(83%) contrast(87%);
}

.control--radio:checked + label:before,
.control--radio:not(:checked) + label:before {
  content: "";
  border: 4px solid var(--lunar-rock);
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -3px;
  width: 17px;
  height: 17px;
}

.control--radio:checked + label::after {
  content: "";
  background-color: var(--lunar-rock);
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 5px;
  width: 9px;
  height: 9px;
}

.control--checkbox:not(:disabled):not(:checked) + label:hover::before,
.control--checkbox:checked + label:hover::before {
  -webkit-filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(90%) contrast(97%);
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(90%) contrast(97%);
}

.control--radio:not(:disabled):not(:checked) + label:hover::before,
.control--radio:checked + label:hover::before {
  border-color: var(--brainstem-grey);
}

.control--radio:not(:disabled):not(:checked) + label:hover::after,
.control--radio:checked + label:hover:after {
  background-color: var(--brainstem-grey);
}

.control--checkbox:disabled + .control--label,
.control--radio:disabled + .control--label {
  opacity: 0.4;
}

/**/

.checkbox-group__item input[type="checkbox"]:focus + label::before {
  -webkit-filter: invert(89%) sepia(22%) saturate(0%) hue-rotate(157deg) brightness(75%) contrast(86%);
  filter: invert(89%) sepia(22%) saturate(0%) hue-rotate(157deg) brightness(75%) contrast(86%);
}

.checkbox-group__item input[type="checkbox"]:focus + label::after {
  -webkit-filter: invert(89%) sepia(22%) saturate(0%) hue-rotate(157deg) brightness(75%) contrast(86%);
  filter: invert(89%) sepia(22%) saturate(0%) hue-rotate(157deg) brightness(75%) contrast(86%);
}

.radio-group__item input[type="radio"]:focus + label::before {
  border-color: var(--dhusar-grey);
}

.radio-group__item input[type="radio"]:focus + label::after {
  background-color: var(--dhusar-grey);
}

.checkbox-group {
  margin: 0;
  margin-top: 19px;
}

.checkbox-group__item {
  margin-bottom: 19px;
}

.checkbox-group__item:last-of-type {
  margin-bottom: 0px;
}

.radio-group {
  margin: 0;
  margin-top: 27px;
}

.radio-group__item {
  margin-bottom: 22px;
}

.radio-group__item:last-of-type {
  margin-bottom: 0px;
}

//.catalog-filters__button {
//  width: 220px;
//  margin-top: 12px;
//  padding-top: 10px;
//  padding-bottom: 10px;
//  border: 1px solid var(--cold-morning);
//  box-sizing: border-box;
//  background-color: var(--white);
//  text-transform: uppercase;
//}

//.transp-button:hover {
//  border: 1px solid var(--lunar-rock);
//}
//
//.transp-button:focus {
//  border: 1px solid var(--red-radish);
//}

/* Секция КАТАЛОГ */
/* Секция КАТАЛОГ - СОРТИРОВКА */

//.catalog {
//  padding: 0;
//  margin: 0;
//  //max-width: 700px;
//}

//.catalog__sorting {
//  padding: 0;
//  margin: 0;
//  background-color: var(--smart-white);
//  display: grid;
//  grid-template-columns: 220px 1fr 90px;
//}
//
//.sorting__list {
//  padding: 0;
//  margin: 0px;
//  list-style: none;
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//}
//
//.sorting__link {
//  text-decoration: none;
//  font-family: "PT Sans", Arial, sans-serif;
//  font-size: 13px;
//  line-height: 18px;
//  font-weight: 400;
//  text-transform: uppercase;
//  color: var(--black);
//  opacity: 0.3;
//  border-bottom: 1px dotted red;
//}
//
//.sorting__link--active {
//  color: var(--red-radish);
//  border: none;
//  opacity: 1;
//  pointer-events: none;
//  cursor: default;
//}
//
//.sorting__link:active {
//  color: var(--red-radish);
//  border: none;
//  opacity: 1;
//  pointer-events: none;
//  cursor: default;
//}
//
//.sorting__link:hover {
//  opacity: 1;
//  border-bottom: 1px solid var(--red-radish);
//}
//
//.sorting__item {
//  position: relative;
//}
//
//.sorting__item:first-child {
//  margin-left: 21px;
//}
//
//.sorting__item:nth-child(2) {
//  margin-left: 70px;
//}
//
//.sorting__item:nth-child(3) {
//  margin-left: 64px;
//}
//
//.sorting-direcions {
//  display: flex;
//  justify-content: space-between;
//  margin-left: 31px;
//  margin-right: 16px;
//  opacity: 1;
//}
//
//.sorting-direcions__link:hover .sorting-direcions__icon path {
//  fill: var(--black);
//}
//
//.sorting-direcions__link:active .sorting-direcions__icon path {
//  fill: var(--red-radish);
//  pointer-events: none;
//  cursor: none;
//}
//
//.sorting-direcions__link--active {
//  pointer-events: none;
//  cursor: none;
//}
//
//.sorting-direcions__link--active .sorting-direcions__icon path {
//  fill: var(--red-radish);
//}
//
//.sorting-direcions__icon--descending {
//  transform: rotate(180deg);
//}

/* Секция КАТАЛОГ - ОСНОВНОЙ каталог*/

.catalog__list {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 38px;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 18px;
}

/* Секция КАТАЛОГ - Пагинация*/

//.pagination {
//  list-style: none;
//  text-align: center;
//  padding: 0;
//  margin: 0;
//  margin-bottom: 39px;
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//  flex-wrap: wrap;
//}
//
//.pagination__item {
//  margin-top: 10px;
//  margin-right: 10px;
//}
//
//.pagination__link {
//  text-decoration: none;
//  display: inline-block;
//  width: 38px;
//  padding-top: 10px;
//  padding-bottom: 8px;
//  font-family: "PT Sans", Arial, sans-serif;
//  font-style: normal;
//  font-size: 13px;
//  line-height: 18px;
//  font-weight: 400;
//  text-transform: uppercase;
//}

//.transp-button {
//  border: 1px solid var(--cold-morning);
//  box-sizing: border-box;
//  border-radius: 2px;
//  color: var(--black);
//  cursor: pointer;
//}

//.pagination__link--next {
//  width: 140px;
//}

.current-page {
  border-color: var(--red-radish);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--red-radish);
  color: var(--white);
  pointer-events: none;
  cursor: default;
}
/* Секция ИНФО - о перфораторах */

/* Секция ОСОБЕННОСТИ - features */

.features {
  padding: 59px 0 39px 0;
}

.features__list {
  margin: 0;
  padding: 0px;
  padding-bottom: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.features-item {
  width: 300px;
  height: 123px;
  position: relative;
}

.features-slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.features-item__title {
  margin: 0;
  padding: 20px 0 14px 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: var(--white);
}

.features-item__link {
  padding: 10px 0 10px 0;
  margin-left: 23px;
  display: block;
  width: 135px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background: var(--white-030);
}

.features-item__link:hover {
  background: var(--lunar-rock-030);
}

.features-item__link:focus {
  background: var(--ultimate-grey-030);
}

.features-item--materials {
  background-color: var(--narenji-orange);
}

.features-item--instruments {
  background-color: var(--lake-thun);
}

.features-item--technics {
  background-color: var(--lavender-pink);
}

.features-item--discounts {
  background-color: var(--leek);
}

.features-item--delivery {
  background-color: var(--narenji-orange);
}

.new::before {
  content: "";
  background: url("../assets/img/icons/icon-new-item.svg") no-repeat;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  z-index: 1;
}

.features-item--materials::after {
  content: "";
  background: url("../assets/img/features/icon-materials.svg") no-repeat;
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  z-index: 2;
}

.features-item--instruments::after {
  content: "";
  background: url("../assets/img/features/icon-instruments.svg") no-repeat;
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
  z-index: 2;
}

.features-item--technics::after {
  content: "";
  background: url("../assets/img/features/icon-technics.svg") no-repeat;
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  z-index: 2;
}

.features-item--discounts::after {
  content: "";
  background: url("../assets/img/features/icon-discount.svg") no-repeat;
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  z-index: 2;
}

.features-item--delivery::after {
  content: "";
  background: url("../assets/img/features/icon-delivery.svg") no-repeat;
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  z-index: 2;
}

/* Секция ОСОБЕННОСТИ - СЛАЙДЕР */

.features-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-slide {
  position: relative;
  max-height: 266px;
}

.features-slide__info {
  width: 100%;
  padding: 23px 0 16px 0;
  background: var(--black-semi-025);
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--white);
}

.features-slide__title {
  margin: 0;
  padding: 0px;
  padding-left: 24px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.features-slide__description {
  margin: 0;
  padding-top: 5px;
  padding-left: 24px;
  text-align: left;
}

.features-slide__img {
  display: block;
}

.features-slide__link {
  position: absolute;
  z-index: 1;
  top: 201px;
  left: 24px;
  text-decoration: none;
}

.features-slide__link:hover {
  background-color: var(--madder-lake);
}

.features-slide__link:focus {
  background-color: var(--mars-red);
}

.features-slider__container {
  position: relative;
  max-width: 620px;
}

.slider-selector {
  position: absolute;
  left: 47.5%;
  bottom: 36px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-selector__button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--red-radish);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-selector__button--current {
  padding: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white);
}

.slider-directions__button {
  content: "";
  bottom: 104px;
  position: absolute;
  width: 22px;
  height: 40px;
  border: none; /* Remove borders */
  background-color: transparent;
  background-image: url('../assets/img/icons/icon-left.svg');
  cursor: pointer;
}

.slider-directions__button--previous {
  left: 4%;
}

.slider-directions__button--next {
  right: 3%;
  transform: rotate(180deg);
}
/* Секция ПОПУЛЯРНОЕ */

.popular-section {
  padding: 0 0 70px 0;
}

.popular-section__header {
  padding-left: 28px;
  padding-right: 14px;
  background-color: var(--silver-bird);
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
}

.popular-section__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  color: var(--passionate-blueberry);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-section__link {
  margin-top: 25px;
  margin-bottom: 26px;
}

.basic-button {
  display: inline-block;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  width: 192px;
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--red-radish);
}

.basic-button:hover {
  background-color: var(--madder-lake);
}

.basic-button:focus {
  background-color: var(--mars-red);
}

.popular-section__list {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.popular-section__item {
  width: 220px;
  border: 1px solid var(--plaster);
  box-sizing: border-box;
}

//.good-item {
//  padding-top: 6px;
//  padding-bottom: 20px;
//  text-align: center;
//  font-size: 17px;
//  line-height: 18px;
//  font-weight: 700;
//  background: var(--white);
//  border: 1px solid var(--plaster);
//  box-sizing: border-box;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-end;
//  position: relative;
//}

//.good-item:hover {
//  -webkit-filter: drop-shadow(0px 4px 20px var(--black-semi-015));
//  filter: drop-shadow(0px 4px 20px var(--black-semi-015));
//  transition: 0.1s;
//}

//.good-item__title {
//  padding: 9px 14px 0;
//  padding-top: 9px;
//  margin: 0;
//  font-size: 18px;
//  line-height: 20px;
//  font-weight: 700;
//  order: 1;
//  z-index: 10;
//}

//.good-item__image {
//  order: -1;
//  min-height: 164px;
//  margin-top: 0;
//  margin-bottom: auto;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.good-item__image img {
//  -o-object-fit: contain;
//  object-fit: contain;
//  background-color: var(--white);
//}

.good-item__price-old {
  order: 2;
  padding-top: 7px;
  padding-bottom: 14px;
  margin: 0;
  color: var(--ultimate-grey);
  text-decoration: line-through;
  text-transform: uppercase;
}

//.hidden {
//  visibility: hidden;
//}

//.good-item__price {
//  text-decoration: none;
//  order: 3;
//  display: inline-block;
//  background-color: var(--red-radish);
//  text-transform: uppercase;
//  color: var(--white);
//  padding-left: 6px;
//  padding-top: 10px;
//  padding-bottom: 10px;
//  margin-left: 44px;
//  width: 116px;
//  border-radius: 4px 0 0 4px;
//  position: relative;
//}

.good-item__price::after {
  content: "";
  position: absolute;
  border: 19px solid transparent;
  border-left: 19px solid var(--red-radish);
  bottom: 0;
  left: 100%;
}

//.good-options {
//  padding: 37px 0 38px 0;
//  margin-top: auto;
//  margin-bottom: auto;
//  top: 0;
//  position: absolute;
//  display: none;
//  width: 100%;
//  height: 45%;
//  overflow: hidden;
//  flex-direction: column;
//  justify-content: flex-start;
//  align-items: center;
//  line-height: 30px;
//  opacity: 1;
//  background-color: var(--white);
//  box-sizing: border-box;
//}
//
//.good-item:hover .good-options {
//  display: flex;
//}

//.good-options__button {
//  text-decoration: none;
//  display: inline-block;
//  width: 135px;
//  border-radius: 2px;
//  font-family: "Cuprum", Arial, sans-serif;
//  font-style: normal;
//  font-size: 14px;
//  line-height: 18px;
//  font-weight: 400;
//  text-transform: uppercase;
//  z-index: 10;
//}
//
//.good-options__button--buy {
//  display: block;
//  padding-top: 10px;
//  padding-bottom: 10px;
//  color: var(--white);
//  background-color: var(--siren-of-nature);
//  box-shadow: inset 0px -3px 0px var(--nenophilist);
//  position: relative;
//}
//
//.good-options__button--buy span {
//  margin-left: 11px;
//}
//
//.good-options__button--buy::before {
//  content: "";
//  width: 15px;
//  height: 15px;
//  top: 10px;
//  left: 29px;
//  position: absolute;
//  background-image: url('../assets/img/icons/icon-cart.svg');
//  z-index: 10;
//  opacity: 0.3;
//}
//
//.good-options__button--buy:hover {
//  background-color: var(--field-green);
//}
//
//.good-options__button--buy:focus {
//  background-color: var(--hot-pepper-green);
//}
//
//.good-options__button--tab {
//  margin-top: 10px;
//  padding-top: 10px;
//  padding-bottom: 4px;
//  border: 3px solid var(--siren-of-nature);
//  box-sizing: border-box;
//  color: var(--passionate-blueberry);
//}
//
//.good-options__button--tab:hover {
//  border: 3px solid var(--passionate-blueberry);
//}
//
//.good-options__button--tab:focus {
//  border: 3px solid var(--passionate-blueberry);
//  opacity: 0.5;
//}

/* Производители */

//.manufacturer {
//  width: 220px;
//  height: 145px;
//  background: var(--white);
//}
//
//.manufacturer:hover {
//  -webkit-filter: drop-shadow(0px 4px 20px var(--black-semi-015));
//  filter: drop-shadow(0px 4px 20px var(--black-semi-015));
//  transition: 0.1s;
//}
//
//.manufacturer:focus {
//  -webkit-filter: drop-shadow(0px 4px 20px var(--black-semi-015));
//  filter: drop-shadow(0px 4px 20px var(--black-semi-015));
//  transition: 0.1s;
//}
//
//.manufacturer__link {
//  width: 100%;
//  height: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.manufacturer__link img {
//  -o-object-fit: cover;
//  object-fit: cover;
//  background-color: var(--white);
//}
//
//.manufacturer__link:focus {
//  opacity: 50%;
//}

/* Информация - сервисы */

//.info {
//  background-color: var(--child-of-light);
//  padding-top: 65px;
//}
//
//.info__title {
//  margin: 0;
//  padding-bottom: 25px;
//  font-size: 30px;
//  line-height: 30px;
//  font-weight: 400;
//  text-align: left;
//  text-transform: uppercase;
//}
//
//.info__description {
//  margin: 0;
//
//  font-family: "PT Sans", Arial, sans-serif;
//  font-size: 13px;
//  text-align: left;
//}
//
//.catalog-info {
//  padding-bottom: 69px;
//}
//
//.services {
//  display: grid;
//  grid-template-columns: 240px 1fr;
//  grid-gap: 80px;
//  align-items: start;
//}
//
//.services__list {
//  list-style: none;
//  padding: 0;
//  margin: 0;
//  margin: 68px 0 0px 0;
//}
//
//.services-controls {
//  margin: 70px 0 0px 0;
//  position: relative;
//}
//
//.services-controls::before {
//  content: "";
//  background: url('../assets/img/services/service-right.png') no-repeat;
//  position: absolute;
//  width: 10px;
//  height: 279px;
//  top: -49px;
//  right: 0px;
//  z-index: 1;
//}
//
//.services-controls__button {
//  width: 240px;
//  border: 0;
//  padding-top: 13px;
//  padding-bottom: 19px;
//  padding-left: 22px;
//  font-size: 21px;
//  line-height: 30px;
//  font-weight: 700;
//  text-align: left;
//  color: var(--white);
//  background-color: var(--passionate-blueberry);
//  box-shadow: 0px 1px 0px var(--bunting), inset 0px 1px 0px var(--blackberry-cobbler);
//}
//
//.services-controls__button:hover {
//  cursor: pointer;
//  background-color: var(--bunting);
//}
//
//.active-button {
//  color: var(--passionate-blueberry);
//  background-color: var(--white);
//  box-shadow: 0px 1px 0px var(--white);
//  pointer-events: none;
//  cursor: default;
//}
//
//.services-content__item {
//  min-height: 286px;
//  text-align: left;
//}
//
//.service-delivery {
//  background: url("../assets/img/services/service-delivery.png") no-repeat;
//  background-position: top 21px right 1px;
//}
//
//.service-warranty {
//  background: url("../assets/img/services/service-warranty.png") no-repeat 100% 0;
//}
//
//.service-credit {
//  background: url("../assets/img/services/service-credit.png") no-repeat 100% 0;
//}
//
//.service__title {
//  margin: 0 0 30px 0;
//  font-size: 30px;
//  line-height: 30px;
//  font-weight: 400;
//  text-align: left;
//  text-transform: uppercase;
//}
//
//.service__desc {
//  margin: 0;
//  max-width: 325px;
//  font-family: "PT Sans", Arial, sans-serif;
//  font-size: 13px;
//  text-align: left;
//}
//
//.service__link {
//  margin-top: 27px;
//  border-radius: 2px;
//  width: 195px;
//}

/* О компании */

.about-section {
  padding: 71px 0 70px 0;
}

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  grid-gap: 40px;
}

.about__section {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.about__desc {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-align: left;
}

.about__title-logistics {
  padding: 0;
  margin: 0;
  margin-top: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about__list {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style: none;
}

.about__item {
  padding-left: 37px;
  text-align: left;
  margin-bottom: 12px;
  position: relative;
}

.about__item::before {
  content: "";
  border-top: 2px solid red;
  box-sizing: border-box;
  position: absolute;
  line-height: 0;
  width: 25px;
  height: 2px;
  top: 12px;
  left: 0px;
  z-index: 1;
}

.about__item:last-child {
  margin-bottom: 20px;
}

.about__link {
  margin-top: auto;
  width: 220px;
}

.contacts {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__link--map {
  width: 100%;
  line-height: 0;
  margin-top: 32px;
  margin-bottom: 22px;
}

.about__link--form {
  margin-top: auto;
  width: 100%;
}

/* Футер */

/* Футер - верхний */

//.footer-top {
//  background-color: var(--passionate-blueberry);
//}

//.footer__top {
//  display: grid;
//  grid-template-columns: 340px 1fr;
//  grid-template-rows: -webkit-min-content 1fr;
//  grid-template-rows: min-content 1fr;
//  grid-template-areas: "company-info footer-nav";
//}

.company-info {
  //-ms-grid-row: 1;
  //-ms-grid-column: 1;
  //grid-area: company-info;
  //color: var(--distant-horizon);
}
//
//.footer-nav__list {
//  list-style: none;
//  padding: 0;
//  margin: 0;
//  margin-top: 37px;
//  display: flex;
//  justify-content: flex-end;
//  flex-wrap: wrap;
//}
//
//.footer-nav--goods {
//  margin-top: 34px;
//}
//
//.footer-nav__item {
//  margin-left: 58px;
//}
//
//.footer-nav__item:first-child {
//  margin-left: 0px;
//}
//
//.company-info__logo {
//  padding-top: 20px;
//  padding-bottom: 25px;
//}
//
////.company-info {
////  width: 340px;
////}
//
//.company-info__adress {
//  //text-align: left;
//  //padding: 0;
//  //margin: 0;
//  //margin-top: 28px;
//  //margin-left: 3px;
//}
//
//.company-info__phone {
//  //margin: 0;
//  //margin-left: 3px;
//  //margin-bottom: 54px;
//}
//
//.footer-nav__link {
//  text-decoration: none;
//  color: var(--child-of-light);
//}
//
//.footer-nav__link--goods {
//  color: var(--bread-n-butter);
//}
//
//.footer-nav__link:hover {
//  text-decoration: underline;
//}
//
//.footer-nav__link:focus {
//  opacity: 0.5;
//  text-decoration: none;
//}
//
///* Футер - нижний */
//
//.footer-bottom {
//  background-color: var(--bunting);
//}
//
//.footer__bottom {
//  min-height: 107px;
//  display: grid;
//  grid-template-columns: 270px 370px 1fr;
//  justify-content: space-between;
//  align-items: center;
//}
//
//.footer__copyright {
//  padding: 30px 0 30px 0px;
//  margin: 0;
//  color: var(--white);
//  font-size: 16px;
//  line-height: 18px;
//  text-align: left;
//}
//
//.copyright__desc {
//  margin: 0;
//  margin-left: 1px;
//}
//
//.social__title {
//  padding: 0;
//  margin: 0;
//  display: none;
//}
//
//.socials__list {
//  padding: 0;
//  margin: 0;
//  list-style: none;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-wrap: wrap;
//}
//
//.social__item {
//  margin: 2px;
//  width: 40px;
//  height: 40px;
//  background-color: var(--midnight-express-2);
//  border-radius: 50%;
//  display: grid;
//  justify-content: center;
//  align-items: center;
//}
//
//.social__link {
//  line-height: 0;
//}
//
//.social__item:hover,
//.social__item:focus {
//  background-color: var(--red-radish);
//  transition: 0.25s;
//}
//
//.feedback {
//  margin: 0;
//  padding: 0;
//  display: grid;
//  grid-template-columns: -webkit-min-content -webkit-min-content;
//  grid-template-columns: min-content min-content;
//  justify-content: space-between;
//}
//
//.feedback__item {
//  padding-right: 13px;
//  font-size: 16px;
//  line-height: 18px;
//  text-align: left;
//  color: var(--white);
//}
//
//.feedback__link {
//  text-decoration: none;
//  color: var(--narenji-orange);
//}
//
//.feedback__link:hover {
//  text-decoration: underline;
//}
//
//.feedback__link:focus {
//  text-decoration: none;
//  color: var(--red-radish);
//}

/* модальные окна */

/* товары и корзина */

//.modal {
//  position: fixed;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  margin: auto;
//  color: var(--basic-black);
//  background-color: var(--basic-extra-light);
//  z-index: 100;
//  text-align: center;
//  top: 220px;
//  bottom: auto;
//  width: 620px;
//  background-color: var(--white);
//  border-top: 7px solid var(--red-radish);
//  -webkit-filter: drop-shadow(0px 4px 20px var(--black-semi-025));
//  filter: drop-shadow(0px 4px 20px var(--black-semi-025));
//}

//.modal-buy {
//  display: none;
//}

//.modal__title {
//  margin: 0;
//  padding-top: 66px;
//  padding-bottom: 68px;
//  font-size: 24px;
//  line-height: 30px;
//  font-weight: 700;
//}

.modal-buy__title::before {
  content: "";
  position: absolute;
  background-image: url('../assets/img/icons/icon-mark.svg');
  width: 66px;
  height: 66px;
  top: 48px;
  left: 81px;
}

.modal__footer {
  background-color: var(--beluga);
}

.modal-buy__options {
  display: flex;
  justify-content: center;
}

.modal__button {
  margin-top: 37px;
  margin-right: 10px;
  margin-bottom: 37px;
}

.basic-button--white {
  background-color: var(--white);
  color: var(--black);
}

.basic-button--white:hover,
.basic-button--white:focus {
  background-color: var(--lunar-rock);
}

.modal__close {
  position: absolute;
  padding: 10px;
  top: 11px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal__close::before {
  content: "";
  position: absolute;
  background-image: url('../assets/img/icons/icon-close.svg');
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
}

.modal-buy__button {
  position: absolute;
}

/* Напишите нам! */

.modal-form {
  display: none;
  padding-top: 39px;
}

.form__list {
  padding: 0 80px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.form__item:last-child {
  padding-bottom: 37px;
}

.form__item {
  padding-bottom: 13px;
}

.form__label {
  display: block;
  padding-bottom: 11px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.form__input {
  display: block;
  width: 220px;
  padding: 5px 8px 5px 10px;
  border: 2px solid var(--lunar-rock);
  border-radius: 2px;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: var(--ultimate-grey);
}

.form__input--textarea {
  width: 460px;
  height: 114px;
  resize: none;
}

.modal-form__button {
  width: 460px;
  border: none;
  cursor: pointer;
}

/* Карта */

.modal-map {
  display: none;
  width: 940px;
  height: 440px;
}

.modal-map iframe {
  border: none;
}

/* JS */

/* Модальные окна*/

.modal__show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal__error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
